<%
   @page_class = 'home-page'
   @pagetitle = 'Welcome to Springboard Academy'
%>

<%= render partial: 'layouts/messages' %>

<div id="background-container">
  <%= image_tag 'home-bg.jpg', id: 'about-springboard-image' %>
  <%= image_tag 'features-bg.jpg', id: 'features-image' %>
  <%= image_tag 'pricing-bg.jpg', id: 'pricing-image' %>
  <%= image_tag 'subjects-bg.jpg', id: 'subjects-image' %>
</div>

<div id="home-panel">
  <div class="panel-column selected" id="about-springboard">
    <div class="inner-panel"><%= image_tag 'small-logo.png', alt: 'Springboard Academy' %></div>
  </div>
  <div class="panel-column" id="features">
    <div class="inner-panel">Features</div>
  </div>
  <div class="panel-column" id="pricing">
    <div class="inner-panel">Pricing</div>
  </div>
  <div class="panel-column" id="subjects">
    <div class="inner-panel">Subjects</div>
  </div>
  <div class="clearfix"></div>
</div>

<div id="content-panel">
  <div id="about-springboard-content" class="text-content">
    <p>Springboard Academy is an online learning community aimed at amplifying the voices of great teachers and giving students
    nationwide access. We've assembled a team of teachers with an incredible track record of success to help you prepare
    for CSEC examinations.</p>
    <p>Focus + Effort + Time = Genius</p>
  </div>
  <div id="features-content" class="text-content">
    <p>From the comfort of your home or ANYWHERE you choose to get online<br/>
    <ol>
      <li>Watch LIVE teachers explain key topics in each subject</li>
      <li>Watch recorded classes as many times as they like</li>
    </ol>
    </p>
  </div>
  <div id="pricing-content" class="text-content">
    <p>For only $200/month, let Springboard Academy team get you into high gear and achieving your goals.</p>
  </div>
  <div id="subjects-content" class="text-content">
    <p>The subjects are as follows:<br/>
        Math, English, Biology, Chemistry, Physics, French, Spanish, History, Geography, Accounts, Principles of Business
    </p>
  </div>
</div>
