<%
   @pagetitle = 'Instructor Portal'
   @page_class = 'portal-home'
%>


<%= render partial: 'layouts/messages' %>

<% if current_instructor.sign_in_count == 1 %>
    <div class="well well-lg">
      <p>Please change your password: </p>
      <%= form_for current_instructor, url: instructor_change_password_path do |f| %>
        <div class="form-group">
          <%= f.label :password, "New Password" %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirm Password" %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>  
        </div>

        <%= f.submit 'Change', class: 'btn btn-default' %>
      <% end %>
    </div>
<% end %>
<div class="jumbotron">
  <h1 class="text-center">
    Instructor Portal
  </h1>
  <p class="text-left">Welcome, <%= current_instructor.name %></p>
  <div class="row">
    <div class="col-xs-6 portal-option">
      <%= link_to(image_tag('subjects-bg.jpg', alt: 'My Sections', class: 'img-responsive'), '#', class: 'thumbnail') %>
    </div>
    <div class="col-xs-6 portal-option">
      <%= link_to(image_tag('subjects-bg.jpg', alt: 'My Schedule', class: 'img-responsive'), '#', class: 'thumbnail') %>
    </div>
  </div>
</div>