<%
   @pagetitle = "Discussion Board - Thread: #{@thread.title}"
   @page_class = 'discussion-board thread show'
%>

<!-- Add TinyMCE Assets -->
<%= tinymce_assets %>

<%= render partial: 'layouts/messages' %>

<div class='row'>

  <!-- Side Menu -->
  <div class='col-xs-3 col-sm-3 col-md-3 col-lg-3 fixed'>
    <div class='btn-group-vertical' role='group' aria-label='side-menu'>
      <%= link_to 'Back to Section Home Page', student_subject_section_path(@thread.board_topic.discussion_board.section.subject, @thread.board_topic.discussion_board.section), class: 'btn btn-default' %>
      <%= link_to "Back to Discussion Board Topic - #{@thread.board_topic.name}", student_subject_section_discussion_topic_threads_path(@thread.board_topic.discussion_board.section.subject, @thread.board_topic.discussion_board.section, @thread.board_topic.discussion_board, @thread.board_topic), class: 'btn btn-default' %>
      <%= link_to "Viewing Discussion Board - #{@thread.board_topic.name}: #{@thread.title}", '#', class: 'btn btn-primary active' %>
    </div>
  </div>

  <!-- Main Content -->
  <div class='col-xs-9 col-sm-9 col-md-9 col-lg-9 scrollable'>

    <% if @thread.thread_posts.count > 0 %>
        <!-- Add New Post Form at Top -->
        <button type="button" class="btn btn-primary pull-right" id="top-add-thread-post-button">New Post</button>
        <div class="clearfix"></div>

        <!-- New Post Form (Hidden Until Button is Clicked) -->
        <div class="well well-lg hidden text-center" id="top-add-thread-post-form">
          <%= render partial: 'new_thread_post', locals: {post: @new_post, subject: @thread.board_topic.discussion_board.section.subject, section: @thread.board_topic.discussion_board.section, board: @thread.board_topic.discussion_board, topic: @thread.board_topic, thread: @thread} %>
        </div>
        <br/>
        <!-- Board Body: Thread Posts -->
        <div class="panel panel-default">
          <!-- Discussion Board Name -->
          <div class="panel-heading">
            <h3><strong><%= @thread.board_topic.discussion_board.section.codename %>: Discussion Board: <%= @thread.board_topic.name %></strong></h3>
          </div>
          <!-- Topic Title -->
          <div class="panel-heading">
            <strong><%= @thread.board_topic.name %></strong>
          </div>
          <!-- Thread Title -->
          <div class="panel-heading">
            <em><%= @thread.title %></em>
          </div>
          <div class="panel-body">
            <!-- List Thread Posts -->
            <ul class="list-group">
              <% @thread.thread_posts.each do |post| %>
                  <li class="list-group-item">
                    <%= post.content.html_safe %>
                    <!-- Show Post Creator -->
                    <% if post.instructor_id.nil? %>
                        <p class="pull-left">Posted by <strong><%= post.student.name %></strong></p>
                    <% else %>
                        <p class="pull-left">Posted by <strong>Instructor</strong></p>
                    <% end %>
                    <!-- If Post belongs to Student, show Delete Button -->
                    <% if post.student_id == current_student.id %>
                        <%= link_to "Delete", student_subject_section_discussion_topic_thread_thread_post_path(@thread.board_topic.discussion_board.section.subject, @thread.board_topic.discussion_board.section, @thread.board_topic.discussion_board, @thread.board_topic, @thread, post), method: :delete, class: 'pull-right btn btn-sm btn-default' %>
                    <% end %>
                    <div class="clearfix"></div>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
        <!-- Add New Post Form at Bottom -->
        <button type="button" class="btn btn-primary pull-right" id="bottom-add-thread-post-button">New Post</button>
        <div class="clearfix"></div>
        <br/>
        <!-- New Post Form (Hidden Until Button is Clicked -->
        <div class="well well-lg hidden" id="bottom-add-thread-post-form">
          <%= render partial: 'new_thread_post', locals: {post: @new_post, subject: @thread.board_topic.discussion_board.section.subject, section: @thread.board_topic.discussion_board.section, board: @thread.board_topic.discussion_board, topic: @thread.board_topic, thread: @thread} %>
        </div>
    <% else %>
        <h1>Discussion Board - <%= @thread.board_topic.name %>: <%= @thread.title %></h1>
        <div class="well well-lg text-center">
          <p>There aren't any posts in this thread as yet. Get started by creating the first post below:</p>
          <%= render partial: 'new_thread_post', locals: {post: @new_post, subject: @thread.board_topic.discussion_board.section.subject, section: @thread.board_topic.discussion_board.section, board: @thread.board_topic.discussion_board, topic: @thread.board_topic, thread: @thread} %>
        </div>
    <% end %>
  </div>
  <div class='clearfix'></div>
</div>

<!-- Initialize TinyMCE -->
<%= tinymce %>