<%
   @pagetitle = "#{@topic.discussion_board.section.codename} - Discussion Board: Topic - #{@topic.name} - Edit Topic Name"
   @page_class = 'discussion-board board-topic edit'
%>

<%= render partial: 'layouts/messages' %>

<div class="row">

  <!-- Side Menu -->
  <div class='col-xs-3 col-sm-3 col-md-3 fixed'>
    <div class='btn-group-vertical' role='group' aria-label='side-menu'>
      <%= link_to 'Back to Section Home Page', instructor_section_path(@topic.discussion_board.section), class: 'btn btn-default' %>
      <%= link_to "Back to Discussion Board Topic - #{@topic.name}", instructor_section_discussion_topic_threads_path(@topic.discussion_board.section, @topic.discussion_board, @topic), class: 'btn btn-default' %>
      <%= link_to 'View Student Roster', '#', class: 'btn btn-primary' %>
      <%= link_to "Viewing Discussion Board - Editing Topic: #{@topic.name}", '#', class: 'btn btn-primary active' %>
    </div>
  </div>

  <!-- Main Content -->
  <div class='col-xs-9 col-sm-9 col-md-9 scrollable'>
    <h1><%= @topic.discussion_board.section.codename %> - Discussion Board: Edit Topic - <%= @topic.name %></h1>
    <div class="well well-lg text-center">
      <%= form_for @topic, url: instructor_section_discussion_topic_path(@topic.discussion_board.section, @topic.discussion_board, @topic) do |f| %>
          <%= f.label :name, "Edit topic name here:" %>
          <%= f.text_field :name, class: 'form-control' %>
          <br/>
          <%= f.submit "Save Change", class: 'btn btn-default btn-large' %>
      <% end %>
    </div>
  </div>
</div>
