<%
   @pagetitle = 'Create Your Profile'
   @page_class = 'default-modal-page'
%>

<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <% render partial: 'layouts/messages' %>
        <%= image_tag 'small-logo.png', alt: 'Springboard Academy Logo' %>
        <h2>Enter your student profile information:</h2>
      </div>
      <div class="modal-body">
        <%= form_for @student, url: student_portal_update_student_profile_path do |f| %>
            <%= f.label :first_name, "First Name" %>
            <%= f.text_field :first_name, class: 'form-control' %>

            <%= f.label :middle_initial, "Middle Initial" %>
            <%= f.text_field :middle_initial, class: 'form-control' %>

            <%= f.label :last_name, "Last Name" %>
            <%= f.text_field :last_name, class: 'form-control' %>

            <%= f.label :gender, "Gender" %>
            <%= f.select :gender, ['Male', 'Female'], {}, {class: 'form-control'} %>
            <br/>
            <div class="form-inline">
                <%= f.label :dob, "Date of Birth" %>
                <%= f.date_select :dob, {start_year: Date.today.year - 25, end_year: Date.today.year - 8, order: [:day, :month, :year]}, class: 'form-control' %>
                <br/><br/>
            </div>

            <%= f.label :school_id, "School" %>
            <%= f.collection_select :school_id, School.all, :id, :name_with_country, {}, class: 'form-control' %>

            <br/>
            <%= f.submit "Save Profile", class: 'btn btn-large btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-offset-2 col-sm-8 text-center" id='backdrop-logo'>
  <%= image_tag 'logo.png', class: 'img-responsive center-block', alt: 'Springboard Academy' %>
</div>