<%
   @pagetitle = "#{@post.topic_thread.board_topic.discussion_board.section.codename} - Discussion Board: Topic - #{@post.topic_thread.board_topic.name} - Edit Post"
   @page_class = 'discussion-board thread-post edit'
%>

<!-- Add TinyMCE Assets -->
<%= tinymce_assets %>

<%= render partial: 'layouts/messages' %>

<div class="row">

  <!-- Side Menu -->
  <div class='col-xs-3 col-sm-3 col-md-3 fixed'>
    <div class='btn-group-vertical' role='group' aria-label='side-menu'>
      <%= link_to 'Back to Section Home Page', instructor_section_path(@post.topic_thread.board_topic.discussion_board.section), class: 'btn btn-default' %>
      <%= link_to "Back to Discussion Board Topic - #{@post.topic_thread.board_topic.name}", instructor_section_discussion_topic_threads_path(@thread.board_topic.discussion_board.section, @thread.board_topic.discussion_board, @thread.board_topic), class: 'btn btn-default' %>
      <%= link_to 'View Student Roster', instructor_section_students_path(@post.topic_thread.board_topic.discussion_board.section), class: 'btn btn-primary' %>
      <%= link_to "Viewing Discussion Board - #{@thread.title}", '#', class: 'btn btn-primary active' %>
      <%= link_to 'Course Content', instructor_section_folders_path(@section), class: 'btn btn-primary' %>
    </div>
  </div>

  <!-- Main Content -->
  <div class='col-xs-9 col-sm-9 col-md-9 scrollable'>
    <h1><%= @post.topic_thread.board_topic.discussion_board.section.codename %> - Discussion Board: Topic - <%= @post.topic_thread.board_topic.name %></h1>
    <div class="well well-lg text-center">
      <%= form_for @post, url: instructor_section_discussion_topic_thread_thread_post_path(@post.topic_thread.board_topic.discussion_board.section, @post.topic_thread.board_topic.discussion_board, @post.topic_thread.board_topic, @post.topic_thread, @post) do |f| %>
        <%= f.label :content, "Edit post here:" %>
        <%= f.text_area :content, class: 'tinymce' %>
        <br/>
        <%= f.submit "Save Changes", class: 'btn btn-default btn-large' %>
      <% end %>
    </div>
  </div>
</div>

<!-- Initialize TinyMCE -->
<%= tinymce %>