<tr>
  <td><%= completed_payment.payment_date.strftime('%v') %></td>
  <td><%= completed_payment.transaction_id %></td>
  <td><%= completed_payment.amount %></td>
  <td><%= completed_payment.student.name %></td>
  <td><%= completed_payment.subscription.subject.name %></td>
</tr>