<%
   @pagetitle = "Register Payment for #{@subscription.subject.name}"
   @page_class = 'payment register-payment'

   payment = @subscription.pending_payments.first
%>

<h1 class="text-center">Register Offline Payment for <%= @subscription.subject.name %></h1>
<%= render partial: 'layouts/messages' %>
<div class="well well-lg" id="register-offline-payment-form">
    <%= form_for payment, url: student_subject_register_payment_info_path(@subscription.subject_id, payment.id) do |f| %>
        <h4>Offline Payment requested on <%= payment.created_at.strftime('%r %v') %></h4>
        <div class="form-group">
          <%= f.label :payment_date, "Payment Date" %>
          <%= f.date_select :payment_date, {}, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :amount, "Payment Amount" %>
          <%= f.text_field :amount, data: {autonumeric: {aSign: '$', wEmpty: 'zero'}}, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :transaction_id, "Transaction ID" %>
          <%= f.text_field :transaction_id, class: 'form-control' %>
        </div>

        <%= f.submit "Submit Payment Information", class: 'btn btn-large btn-default' %>
    <% end %>
</div>