<%
   @pagetitle = "Course: #{@section.subject.name}"
   if not @subscription.end_date.nil? and @subscription.end_date < Date.today
     @page_class = 'section-page renew-subscription'
   else
     @page_class = 'section-page'
   end
%>

<%= render partial: 'layouts/messages' %>
<h1 class="text-center"><%= @section.subject.name %></h1>

<!-- If The Subscription exists but it hasn't had it's first payment as yet -->
<% if @subscription.end_date.nil? and @subscription.payments == 0 %>
    <div class="well well-lg text-center">
      <p>You have registered for this subject, but you have not yet made payment.<br/>
      If you wish to continue your registration process by making payment, please select a payment method below:</p>
      <%= render partial: 'student/shared/payment_methods', locals: {subject: @section.subject.id} %>
    </div>

<!-- If there are pending payments and the subscription is not active or expired -->
<% elsif (@subscription.end_date.nil? or @subscription.end_date < Date.today) and @subscription.pending_payments.count == 1 %>
    <div class="well well-lg text-center">
      <p>Your offline payment is still pending. If you have made payment already, then please click below to submit the payment information.</p>
      <%= link_to "Submit Offline Payment Information", offline_payment_info_student_subject_path(@section.subject), class: 'btn btn-large btn-default' %>
    </div>

<!-- If there are payments submitted but not verified -->
<% elsif @subscription.end_date.nil? and @subscription.submitted_payments.count == 1 %>
    <div class="well well-lg text-center">
      <p>Your offline payment has not been verified as yet. You will receive an e-mail as soon as this process is complete.</p>
    </div>

<!-- If the Subscription exists but it has expired -->
<% elsif @subscription.end_date < Date.today %>
    <div class="well well-lg text-center">
      <p>Your subscription for this subject has expired. Choose an option below if you wish to extend it.</p>
      <%= render partial: 'student/shared/payment_methods', locals: {subject: @section.subject.id} %>
    </div>

<!-- If Access to course is allowed -->
<% else %>
    <div class="col-sm-12">
        <div class="panel panel-default" id="announcements-panel">
            <div class="panel-heading" role="tab" id="announcement-heading">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#announcements" aria-expanded="true" aria-controls="announcements">
                  Course Announcements
                </a>
              </h4>
            </div>
            <div id="announcements" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="announcement-heading">
              <div class="panel-body">
                <ul class="announcement-list">
                  <%= render partial: 'student/sections/announcement', collection: @section.announcements %>
                </ul>
              </div>
            </div>
        </div>
    </div>

    <!-- ONLY DISPLAY IF DISCUSSION BOARD HAS BEEN ACTIVATED -->
    <% if not @section.discussion_board.nil? %>
        <div class="col-sm-12">
          <div class="panel panel-default" id="discussion-panel">
            <div class="panel-heading" role="tab" id="grades-heading">
              <h4 class="panel-title">
                <%= link_to "Discussion Board", student_subject_section_discussions_path(@section.subject, @section) %>
              </h4>
            </div>
          </div>
        </div>
    <% end %>

    <div class="col-sm-4">
      <div class="panel panel-default" id="upcoming-schedule-panel">
        <div class="panel-heading" role="tab" id="upcoming-schedule-heading">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#upcoming-schedule">
              Upcoming Schedule
            </a>
          </h4>
        </div>
        <div id="upcoming-schedule" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="upcoming-schedule-heading">
          <div class="panel-body">
            <ul class="class-list">
                <%= render partial: 'student/sections/upcoming_class', collection: @section.upcoming_classes %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-default" id="past-classes-panel">
        <div class="panel-heading" role="tab" id="past-classes-heading">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#past-classes">
              Previous Classes
            </a>
          </h4>
        </div>
        <div id="past-classes" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="past-classes-heading">
          <div class="panel-body">
            <ul class="class-list">
                <%= render partial: 'student/sections/past_class', collection: @section.past_classes %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-default" id="grades-panel">
        <div class="panel-heading" role="tab" id="grades-heading">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#grades">
              Grades
            </a>
          </h4>
        </div>
        <div id="grades" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="grades-heading">
            <div class="panel-body"></div>
        </div>
      </div>
    </div>
<% end %>