<%
   @pagetitle = "Discussion Board - #{@topic.name}"
   @page_class = 'discussion-board board-topic index'
%>

<%= render partial: 'layouts/messages' %>

<div class='row'>
  <!-- Side Menu-->
  <div class='col-xs-3 col-sm-3 col-md-3 fixed'>
    <div class='btn-group-vertical' role='group' aria-label='side-menu'>
      <%= link_to 'Back to Section Home Page', instructor_section_path(@topic.discussion_board.section), class: 'btn btn-default' %>
      <%= link_to 'Back to Discussion Board Home', instructor_section_discussions_path(@topic.discussion_board.section), class: 'btn btn-default' %>
      <%= link_to 'View Student Roster', '#', class: 'btn btn-primary' %>
      <%= link_to "Viewing Discussion Board - #{@topic.name}", '#', class: 'btn btn-primary active' %>
    </div>
  </div>

  <!-- Main Content -->
  <div class='col-xs-9 col-sm-9 col-md-9 scrollable'>
    <!-- New Thread Button -->
    <button type="button" class="btn btn-default pull-right" id="new-thread-button">New Thread</button>
    <div class="clearfix"></div>

    <!-- New Thread Form -->
    <div class="well well-lg hidden" id="new-thread-form">
        <%= render partial: 'new_thread', locals: {thread: @topic_thread, section: @topic.discussion_board.section, board: @topic.discussion_board, topic: @topic} %>
    </div>

    <!-- Board Body: Threads -->
    <div class="panel panel-default">

      <!-- Topic Name -->
      <div class="panel-heading">
        <%= @topic.name %>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <!-- List of Threads -->
          <% @topic.topic_threads.each do |thread| %>
              <li class="list-group-item">
                <h4><%= link_to "#{thread.title}", instructor_section_discussion_topic_thread_path(@topic.discussion_board.section, @topic.discussion_board, @topic, thread) %></h4>
                <!-- Show Thread Creator -->
                <% if thread.instructor_id.nil? %>
                    <p class="pull-left">Created by <strong><%= thread.student.name %></strong></p>
                <% else %>
                    <p class="pull-left">Created by <strong><%= thread.instructor.name %></strong></p>
                <% end %>
                <!-- If Thread was created by instructor, show delete button with confirmation required -->
                <% if thread.instructor_id == current_instructor.id %>
                    <%= link_to "Delete Thread", instructor_section_discussion_topic_thread_path(@topic.discussion_board.section, @topic.discussion_board, topic, thread), method: :delete, class: 'btn btn-default pull-right', data: {confirm: 'Are you sure you want to delete this thread and all of its posts?'} %>
                <% end %>
                <div class="clearfix"></div>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class='clearfix'></div>
</div>