<tr>
  <td><%= upcoming_class.start_time.strftime("%m/%d/%Y") %></td>
  <td><%= upcoming_class.start_time.strftime("%I:%M %p") %></td>
  <td><%= upcoming_class.duration %></td>
  <td><%= upcoming_class.name %></td>
  <td>
    <!-- Display "Enter Class" if current time is 12 hours before class time -->
    <% if Time.now > (upcoming_class.start_time.to_time - 12.hours) %>
        <%= link_to 'Enter Class', upcoming_class.instructor_url, class: 'btn btn-primary' %>
    <% end %>
  </td>
</tr>